table {
    width: 100%;
    font-family: monospace;
    border-collapse: collapse;
}

th {
    text-align: center;
}
td {
    text-align: left;
    white-space: nowrap;
}

th, td {
    border: 1px solid black;
    padding: 2px;
}
tr:hover {
    background-color: darkslategrey;
    color: white;
}

.overflow {
    overflow-x: auto;
}
