body {
  margin: 0;
  font-family: Verdana,sans-serif;
}

header {
  background-color: darkslategray;
  text-align: center;
  padding: 32px 0;
  color: aliceblue;
  font-size: 24px;
}

.main {
  width: 480px;
  padding: 20px 0;
  margin: auto;
}

input[type=text],[type=password],[type=email],[type=date] {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  font-size: 14px;
}

input[type=submit] {
  padding: 12px;
  font-size: 18px;
  border: 1px solid aliceblue;
  background-color: darkslategray;
  color: aliceblue;
}

input[type=submit]:hover {
  background-color: dimgray;
}

@media screen and (max-width: 640px) {
  .main {
    width: 95%;
  }
}
