table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
    text-align: center;
}
td {
    text-align: left;
}

th, td {
    border: 1px solid lightseagreen;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ff55ff;
}
  