table {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
    text-align: center;
}
td {
    text-align: left;
}

th, td {
    border: 1px solid black;
    padding: 4px;
}
tr:hover {
    background-color: darkslategey;
    color: white;
}

.overflow {
    overflow-x: auto;
}
