table {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

th {
    text-align: center;
}
td {
    text-align: left;
}

th, td {
    border: 1px solid black;
    padding: 4px;
}
tr:hover {
    background-color: darkslategrey;
    color: white;
}

.overflow {
    overflow-x: auto;
}
